html, body { margin: 0; padding: 0; }

html {
	font-size: 1em;
	line-height: 1.4;
	color: #222;
}
body {
	font-family: sans-serif;
}
::-moz-selection { background: #b3d4fc; text-shadow: none; }
     ::selection { background: #b3d4fc; text-shadow: none; }

.hidden {
	display: none !important;
	visibility: hidden;
}

a abbr { border-bottom: none; }

#avatar {
	display: block;
	border-radius: 5em;
	overflow: hidden;
	width: 10em;
	height: 10em;
	margin: .5em auto;
	margin-bottom: 1em;
}
#index article { position: relative; }
@media screen and (min-width: 60em) {
	#avatar {
		position: absolute;
		right: -16em;
		top: -5em;
		margin: 0;
		width: 13em;
		height: 13em;
		border-radius: 6.5em;
	}
}
	#avatar img {
		display: inline;
		height: 100%;
	}

.research {
	list-style-type: none;
	padding: 0;
}
	.research-item { position: relative; }
	.blog-post header {
		padding-bottom: 1em;
	}
	.research-item h1, .site h1, .blog-post h1, .blog-post h2 {
		margin-bottom: 0;
		font-weight: normal;
		font-size: 150%;
		line-height: 2;
		color: black;
	}
	.blog-post-listing .blog-post h1,
	.blog-post .article-body h1 {
		font-size: 130%;
	}
	.blog-post .article-body h1 {
		padding-top: 2em;
	}
	.blog-post .article-body h2 {
		font-size: 115%;
	}
	.blog-post .article-body h3 {
		font-size: 100%;
		font-weight: bold;
	}
@media screen and (min-width: 50em) {
	.blog-post .article-body h1.anchor a:hover:after,
	.blog-post .article-body h2.anchor a:hover:after {
		content: "🔗";
		padding-left: 0.5em;
		opacity: 0.5;
	}
	.blog-post .article-body h2.anchor a:hover:before {
		/* to preserve centering */
		content: "🔗";
		padding-right: 0.5em;
		opacity: 0;
	}
	.blog-post .article-body h1 {
		margin-top: 3em;
		border-top: 2px dashed #ddd;
		padding-top: 2em;
	}
	.blog-post .article-body h2 {
		padding-top: 10em;
		text-align: center;
	}
	.blog-post .article-body h3 {
		padding-top: 2em;
	}
}
		.research-item h1 { font-size: 115%; }
		.research-item h1 a, .site h1 a, .blog-post h1 a, .blog-post h2 a {
			color: inherit;
			text-decoration: none;
			border: none;
		}
			.research-item h1 a:hover, .site h1 a:hover, .blog-post h1 a:hover, .blog-post h2 a:hover {
				border: none;
			}
		.research-item h1 i, .site h1 i, .blog-post h1 i {
			color: #888;
			float: right;
			padding-left: .5em;
			font-size: 1rem;
			line-height: 2;
			font-style: normal;
			vertical-align: middle;
		}
		.blog-post .shared {
			display: block;
			color: #666;
		}
			.blog-post .shared a:not(:nth-last-of-type(1))::after {
				content: ",";
			}
			.blog-post .shared a:nth-of-type(1):nth-last-child(2)::after {
				content: "";
			}
			.blog-post .shared a + a:nth-last-of-type(1)::before {
				content: " and ";
				border-bottom: 1px solid white;
			}
		.blog-post .reading-time {
			color: #888;
			font-size: 1rem;
			display: none;
		}
@media screen and (min-width: 50em) {
		.blog-post .reading-time {
			display: inline;
		}
}
		.blog-post em {
			color: black;
			font-style: normal;
			font-weight: 500;
		}
		.blog-post strong {
			font-style: normal;
			font-weight: 800;
		}
		.blog-post tt, .blog-post :not(pre) > code {
			font-family: monospace;
			border-radius: 3px;
			font-size: 115%;
			color: #555;
			padding: .1em;
			word-wrap: break-word;
			position: relative;
			top: -.1.5em;
		}
	.research-item p {
		margin: 0;
		padding: 0;
		color: #666;
	}
	.blog-post blockquote {
		border-left: 1em solid #eaeaea;
		margin: 1.5em 0;
		margin-left: -3em;
		padding: 0.1em 2em;
		background: #f6f6f6;
	}
	.blog-post blockquote cite::before {
		content: "— ";
	}
	.blog-post blockquote cite {
		display: block;
		margin-top: .5em;
		margin-left: .5em;
		font-style: normal;
		color: #800;
	}
	.blog-post blockquote img {
		max-width: 100%;
	}
	.blog-post .hyphenate {
		hyphens: auto;
		-ms-hyphens: auto;
		-moz-hyphens: auto;
		-webkit-hyphens: auto;
		text-align: justify;
	}
	.blog-post footer {
		text-align: center;
		padding-top: 5em;
		padding-bottom: 4em;
		font-size: 85%;
	}
		.blog-post footer .revision {
			font-style: italic;
			border-bottom-style: none;
		}
		.blog-post footer .revision:hover {
			border-bottom-style: dashed;
		}
	.blog-post .footnotes::before {
		display: block;
		border-top: 1px solid #AAA;
		padding-top: .5em;
		content: "Footnotes:"
	}
	.blog-post .footnotes {
		font-size: 85%;
	}
	.research-item .award {
		float: left;
		padding-right: .5em;
		position: relative;
		top: .2em;
	}
@media screen and (min-width: 50em) {
	.research-item .award {
		position: absolute;
		top: 4px;
		left: -48px;
		width: 36px;
	}
}
	.research-item .authors,
	.research-item .journal {
		display: block;
	}
	.research-item .authors {
		color: #222;
	}
	.research-item .journal {
	}

.sites {
	list-style-type: none;
	padding: 0;
}
	.site {
		position: relative;
	}
	.site h1 i {
		display: block;
		padding: 0;
		float: none;
	}
	.site .thumb {
		display: none;
	}
@media screen and (min-width: 40em) {
	.site .thumb {
		display: block;
		float: right;
		width: 40%;
		height: auto;
		border: 3px solid #888;
		border-radius: 5px;
		margin: 0 0 .5em 2em;
	}
}
@media screen and (min-width: 80em) {
	.site .thumb {
		position: absolute;
		float: none;
		top: .5em;
		right: 100%;
		margin: 0;
		margin-right: 2em;
	}
}
	.site + .site, .blog-post + .blog-post {
		margin-top: 3em;
	}

.header {
	text-align: center;
	font-size: 1rem;
}
	.header h1, .header h2 {
		font-family: serif;
		font-weight: normal;
	}
	nav {
		display: block;
		width: 100%;
		text-align: left;
		word-spacing: -5px;
		letter-spacing: -5px;
		border-top: 2px solid #555;
		background: white;
		position: relative;
		line-height: 1.3rem;
		margin-bottom: 1em;
	}
@media screen and (min-width: 60em) {
	nav {
		margin-bottom: 2em;
	}
}
	nav::before {
		content: "";
		display: block;
		width: 100%;
		border-top: 1px solid #FAFAFA;
		border-bottom: 1px solid #F0F0F0;
	}
		nav a {
			display: inline-block;
			word-spacing: normal;
			letter-spacing: normal;
			color: #333;
			text-decoration: none;
		}
		.links a:hover, .links a.active {
			background: #F0F0F0;
			color: black;
		}
		.links a {
			text-align: center;
			font-size: .7rem;
			padding: .5em 1em;
			border-bottom: 1px solid #F0F0F0;
		}
@media screen and (min-width: 21em) {
		.links a { font-size: .8rem; }
}
@media screen and (min-width: 23em) {
		.links a { font-size: .9rem; }
}
@media screen and (min-width: 25em) {
		.links a {
			display: inline-block;
			font-size: 1rem;
			padding: 0.5rem 1rem;
			border-bottom: none;
		}
}
@media screen and (min-width: 29em) {
		.links a { padding: 0.75rem 1.5rem; }
}
@media screen and (min-width: 34em) {
		.links a { padding: 1rem 2rem; }
}
	.contact {
		white-space: nowrap;
		word-spacing: normal;
		letter-spacing: normal;
		background: #F0F0F0;
		text-align: center;
		padding: .5em;
		vertical-align: middle;
		display: flex;
		justify-content: center;
	}
		.contact a {
			margin: 0 1.5em;
		}
		.contact .icon {
			width: 24px;
			height: 24px;
			vertical-align: middle;
		}
@media screen and (min-width: 40em) {
	.contact {
		padding: 1em;
	}
		.contact .icon {
			width: 32px;
			height: 32px;
		}
}
@media screen and (min-width: 60em) {
	.contact {
		position: absolute;
		line-height: 3.3rem;
		background: none;
		padding: 0;
		right: 1em;
		top: 1px;
	}
}
		.contact a {
			vertical-align: middle;
			display: inline-block;
			margin-right: .2em;
			padding: 0;
		}
		.contact img {
			display: inline;
			height: 100%;
		}
@media screen and (min-width: 60em) {
		.contact img {
			opacity: 0.7;
		}
}
		.contact a:hover img { opacity: 1; }
	.header h1, .header h2 {
		font-weight: normal;
		padding: 0 5%;
	}
	.header h1 {
		font-size: 2em;
		text-transform: uppercase;
		margin: 0;
	}
	.header h2 {
		font-size: 2em;
		margin: 0;
		margin-top: 1em;
	}
	#index .header h2 {
		margin: 0;
		font-size: 1em;
	}
@media screen and (min-width: 30em) {
	.header h1 {
		font-size: 3em;
	}
}
@media screen and (min-width: 50em) {
	.header h1, .header h2 {
		padding: 0;
	}
	.header h1 {
		font-size: 5em;
	}
	.header h2 {
		font-size: 2em;
	}
	#index .header h2 { font-size: 2em; }
}
article {
	text-align: left;
	margin: 2em auto;
	margin-top: 0;
	max-width: 43em;
	width: 90%;
	line-height: 2;
}
	article.wide { max-width: 50em; }
	#index article {
		hyphens: auto;
		max-width: 30em;
		text-align: justify;
	}
	article a {
		color: inherit;
		text-decoration: none;
		border-bottom: 1px solid black;
	}
		article h1 a {
			border-bottom: none;
		}
		article a:hover {
			border-bottom-style: dashed;
			border-bottom-color: #C00;
			color: #C00;
		}
.footer {
	border-top: 1px solid #888;
	text-align: center;
	font-size: .9rem;
	max-width: 38rem;
	margin: 0 auto;
	padding: .5rem;
	color: #888;
}
	.footer a {
		color: #555;
		text-decoration: none;
		border-bottom: 1px dotted #555;
	}
	.footer a:hover {
		color: #111;
		border-color: #111;
		border-bottom-style: solid;
	}
	.footer abbr { border: none; }
	.footer p {
		margin: .5rem 0;
	}


@media print {
	.header nav { display: none; }
	.header h1 { font-size: 2em; page-break-after: avoid; }
	.header h2 { font-size: 1em; page-break-after: avoid; }
	.blog-post h1 { font-size: 1.1em; page-break-after: avoid; }
	.blog-post h2 { page-break-after: avoid; }
	.blog-post h3 { page-break-after: avoid; }
	.research-item p { color: black; }
	.site .thumb { display: none; }
	article { max-width: 50em; }
	.footer { display: none; }
	html { font-size: 0.80em; }
	@page { margin: 1.5cm 2cm; }
}

pre { line-height: normal; }
:not(pre).highlight, pre:not(.highlight)  {
  padding: .5em 1em;
  border-bottom: 1px solid #aaa;
  border-top: 1px solid #ddd;
}
/* https://github.com/daveyarwood/gruvbox-pygments/blob/master/gruvbox.css */
/* Gruvbox theme */
.highlight .hll { background-color: #ffffcc }
.highlight  { background: #282828; color: #ebdbb2; background-color: #282828 }
.highlight .c { color: #928374; font-style: italic; background-color: #282828 } /* Comment */
.highlight .err { color: #ebdbb2; background-color: #282828 } /* Error */
.highlight .esc { color: #ebdbb2; background-color: #282828 } /* Escape */
.highlight .g { color: #ebdbb2; background-color: #282828 } /* Generic */
.highlight .k { color: #fe8019; background-color: #282828 } /* Keyword */
.highlight .l { color: #ebdbb2; background-color: #282828 } /* Literal */
.highlight .n { color: #ebdbb2; background-color: #282828 } /* Name */
.highlight .o { color: #fe8019; background-color: #282828 } /* Operator */
.highlight .x { color: #ebdbb2; background-color: #282828 } /* Other */
.highlight .p { color: #ebdbb2; background-color: #282828 } /* Punctuation */
.highlight .ch { color: #928374; font-style: italic; background-color: #282828 } /* Comment.Hashbang */
.highlight .cm { color: #928374; font-style: italic; background-color: #282828 } /* Comment.Multiline */
.highlight .cp { color: #8ec07c; background-color: #282828 } /* Comment.Preproc */
.highlight .c1 { color: #928374; font-style: italic; background-color: #282828 } /* Comment.Single */
.highlight .cs { color: #928374; font-style: italic; background-color: #282828 } /* Comment.Special */
.highlight .gd { color: #282828; background-color: #fb4934 } /* Generic.Deleted */
.highlight .ge { color: #83a598; text-decoration: underline; background-color: #282828 } /* Generic.Emph */
.highlight .gr { color: #ebdbb2; font-weight: bold; background-color: #fb4934 } /* Generic.Error */
.highlight .gh { color: #b8bb26; font-weight: bold; background-color: #282828 } /* Generic.Heading */
.highlight .gi { color: #282828; background-color: #b8bb26 } /* Generic.Inserted */
.highlight .go { color: #504945; background-color: #282828 } /* Generic.Output */
.highlight .gp { color: #ebdbb2; background-color: #282828 } /* Generic.Prompt */
.highlight .gs { color: #ebdbb2; background-color: #282828 } /* Generic.Strong */
.highlight .gu { color: #b8bb26; font-weight: bold; background-color: #282828 } /* Generic.Subheading */
.highlight .gt { color: #ebdbb2; font-weight: bold; background-color: #fb4934 } /* Generic.Traceback */
.highlight .kc { color: #fe8019; background-color: #282828 } /* Keyword.Constant */
.highlight .kd { color: #fe8019; background-color: #282828 } /* Keyword.Declaration */
.highlight .kn { color: #fe8019; background-color: #282828 } /* Keyword.Namespace */
.highlight .kp { color: #fe8019; background-color: #282828 } /* Keyword.Pseudo */
.highlight .kr { color: #fe8019; background-color: #282828 } /* Keyword.Reserved */
.highlight .kt { color: #fabd2f; background-color: #282828 } /* Keyword.Type */
.highlight .ld { color: #ebdbb2; background-color: #282828 } /* Literal.Date */
.highlight .m { color: #d3869b; background-color: #282828 } /* Literal.Number */
.highlight .s { color: #b8bb26; background-color: #282828 } /* Literal.String */
.highlight .na { color: #b8bb26; font-weight: bold; background-color: #282828 } /* Name.Attribute */
.highlight .nb { color: #fabd2f; background-color: #282828 } /* Name.Builtin */
.highlight .nc { color: #ebdbb2; background-color: #282828 } /* Name.Class */
.highlight .no { color: #d3869b; background-color: #282828 } /* Name.Constant */
.highlight .nd { color: #ebdbb2; background-color: #282828 } /* Name.Decorator */
.highlight .ni { color: #fabd2f; background-color: #282828 } /* Name.Entity */
.highlight .ne { color: #fb4934; background-color: #282828 } /* Name.Exception */
.highlight .nf { color: #fabd2f; background-color: #282828 } /* Name.Function */
.highlight .nl { color: #fb4934; background-color: #282828 } /* Name.Label */
.highlight .nn { color: #ebdbb2; background-color: #282828 } /* Name.Namespace */
.highlight .nx { color: #ebdbb2; background-color: #282828 } /* Name.Other */
.highlight .py { color: #ebdbb2; background-color: #282828 } /* Name.Property */
.highlight .nt { color: #fb4934; background-color: #282828 } /* Name.Tag */
.highlight .nv { color: #ebdbb2; background-color: #282828 } /* Name.Variable */
.highlight .ow { color: #fe8019; background-color: #282828 } /* Operator.Word */
.highlight .w { color: #ebdbb2; background-color: #282828 } /* Text.Whitespace */
.highlight .mb { color: #d3869b; background-color: #282828 } /* Literal.Number.Bin */
.highlight .mf { color: #d3869b; background-color: #282828 } /* Literal.Number.Float */
.highlight .mh { color: #d3869b; background-color: #282828 } /* Literal.Number.Hex */
.highlight .mi { color: #d3869b; background-color: #282828 } /* Literal.Number.Integer */
.highlight .mo { color: #d3869b; background-color: #282828 } /* Literal.Number.Oct */
.highlight .sb { color: #b8bb26; background-color: #282828 } /* Literal.String.Backtick */
.highlight .sc { color: #b8bb26; background-color: #282828 } /* Literal.String.Char */
.highlight .sd { color: #b8bb26; background-color: #282828 } /* Literal.String.Doc */
.highlight .s2 { color: #b8bb26; background-color: #282828 } /* Literal.String.Double */
.highlight .se { color: #b8bb26; background-color: #282828 } /* Literal.String.Escape */
.highlight .sh { color: #b8bb26; background-color: #282828 } /* Literal.String.Heredoc */
.highlight .si { color: #b8bb26; background-color: #282828 } /* Literal.String.Interpol */
.highlight .sx { color: #b8bb26; background-color: #282828 } /* Literal.String.Other */
.highlight .sr { color: #b8bb26; background-color: #282828 } /* Literal.String.Regex */
.highlight .s1 { color: #b8bb26; background-color: #282828 } /* Literal.String.Single */
.highlight .ss { color: #83a598; background-color: #282828 } /* Literal.String.Symbol */
.highlight .bp { color: #fabd2f; background-color: #282828 } /* Name.Builtin.Pseudo */
.highlight .vc { color: #ebdbb2; background-color: #282828 } /* Name.Variable.Class */
.highlight .vg { color: #ebdbb2; background-color: #282828 } /* Name.Variable.Global */
.highlight .vi { color: #ebdbb2; background-color: #282828 } /* Name.Variable.Instance */
.highlight .il { color: #d3869b; background-color: #282828 } /* Literal.Number.Integer.Long */
