html, body { margin: 0; padding: 0; }

html {
	font-size: 1em;
	line-height: 1.4;
}
::-moz-selection { background: #b3d4fc; text-shadow: none; }
     ::selection { background: #b3d4fc; text-shadow: none; }

.hidden {
	display: none !important;
	visibility: hidden;
}

a abbr { border-bottom: none; }

#avatar {
	display: block;
	border-radius: 10px;
	overflow: hidden;
	width: 10em;
	height: 10em;
	margin: .5em auto;
	margin-bottom: 1em;
}
@media screen and (min-width: 30em) {
	#avatar {
		float: right;
		margin: .5em;
		margin-left: 1em;
	}
}
	#avatar:hover { border: none; }
	#avatar img {
		display: inline;
		height: 100%;
	}

.articles {
	list-style-type: none;
	padding: 0;
}
	.article { }
	.article h3, .site h3 {
		margin-bottom: 0;
		font-weight: normal;
		font-size: 115%;
		line-height: 2;
		color: black;
	}
		.article h3 a, .site h3 a {
			color: inherit;
			text-decoration: none;
			border: none;
		}
			.article h3 a:hover, .site h3 a:hover {
				border: none;
			}
		.article h3 i, .site h3 i {
			color: #888;
			float: right;
			padding-left: .5em;
			font-size: 1rem;
		}
	.article p {
		margin: 0;
		padding: 0;
		color: #444;
	}
	.article .authors,
	.article .journal {
		display: block;
	}
	.article .authors {
		color: #222;
	}
	.article .journal {
	}

.sites {
	list-style-type: none;
	padding: 0;
}
	.site {
		position: relative;
	}
	.site h3 i {
		display: block;
		padding: 0;
		float: none;
	}
	.site .thumb {
		display: none;
	}
@media screen and (min-width: 40em) {
	.site .thumb {
		display: block;
		float: right;
		width: 40%;
		height: auto;
		border: 3px solid #888;
		border-radius: 5px;
		margin: 0 0 .5em 2em;
	}
}
@media screen and (min-width: 80em) {
	.site .thumb {
		position: absolute;
		float: none;
		top: .5em;
		right: 100%;
		margin: 0;
		margin-right: 2em;
	}
}
	.site + .site {
		margin-top: 3em;
	}

header {
	text-align: center;
	font-family: Cinzel, serif;
	font-size: 1rem;
}
	nav {
		display: block;
		width: 100%;
		text-align: left;
		word-spacing: -5px;
		letter-spacing: -5px;
		border-top: 2px solid #555;
		background: white;
		position: relative;
		line-height: 1.3rem;
		margin-bottom: 1em;
	}
@media screen and (min-width: 60em) {
	nav {
		margin-bottom: 2em;
	}
}
	nav::before {
		content: "";
		display: block;
		width: 100%;
		border-top: 1px solid #FAFAFA;
		border-bottom: 1px solid #F0F0F0;
	}
		nav a {
			display: inline-block;
			word-spacing: normal;
			letter-spacing: normal;
			color: #333;
			text-decoration: none;
		}
		.links a:hover, .links a.active {
			background: #F0F0F0;
			color: black;
		}
		.links a {
			text-align: center;
			font-size: .7rem;
			padding: .5em 1em;
			border-bottom: 1px solid #F0F0F0;
		}
@media screen and (min-width: 21em) {
		.links a { font-size: .8rem; }
}
@media screen and (min-width: 23em) {
		.links a { font-size: .9rem; }
}
@media screen and (min-width: 25em) {
		.links a {
			display: inline-block;
			font-size: 1rem;
			padding: 0.5rem 1rem;
			border-bottom: none;
		}
}
@media screen and (min-width: 29em) {
		.links a { padding: 0.75rem 1.5rem; }
}
@media screen and (min-width: 34em) {
		.links a { padding: 1rem 2rem; }
}
	.contact {
		white-space: nowrap;
		word-spacing: normal;
		letter-spacing: normal;
		background: #F0F0F0;
		text-align: center;
		display: none;
		padding: 1em;
	}
@media screen and (min-width: 40em) {
	.contact { display: block; }
}
@media screen and (min-width: 60em) {
	.contact {
		position: absolute;
		line-height: 3.3rem;
		background: none;
		padding: 0;
		right: .2em;
		top: 1px;
	}
}
		.contact a {
			vertical-align: middle;
			display: inline-block;
			height: 2.5rem;
			margin-right: .2em;
			padding: 0;
		}
		.contact img {
			display: inline;
			height: 100%;
		}
@media screen and (min-width: 60em) {
		.contact img {
			opacity: 0.7;
		}
}
		.contact a:hover img { opacity: 1; }
	header h1, header h2 {
		font-weight: normal;
		padding: 0 5%;
	}
	header h1 {
		font-size: 2em;
		text-transform: uppercase;
		margin: 0;
	}
	header h2 {
		font-size: 2em;
		margin: 0;
		margin-top: 1em;
	}
	#index header h2 {
		margin: 0;
		font-size: 1em;
	}
@media screen and (min-width: 30em) {
	header h1 {
		font-size: 3em;
	}
}
@media screen and (min-width: 50em) {
	header h1, header h2 {
		padding: 0;
	}
	header h1 {
		font-size: 5em;
	}
	header h2 {
		font-size: 2em;
	}
	#index header h2 { font-size: 2em; }
}
article {
	font-family: sans-serif;
	text-align: left;
	margin: 2em auto;
	margin-top: 0;
	max-width: 37em;
	width: 90%;
	line-height: 2;
}
	article p { text-align: left; }
	article a {
		color: inherit;
		text-decoration: none;
		border-bottom: 1px solid black;
	}
		article a:hover {
			border-bottom-style: dashed;
			border-bottom-color: #C00;
			color: #C00;
		}
footer {
	border-top: 1px solid #888;
	font-family: sans-serif;
	text-align: center;
	font-size: .9rem;
	max-width: 35rem;
	margin: 0 auto;
	padding: .5rem;
	color: #888;
}
	footer a {
		color: #555;
		text-decoration: none;
		border-bottom: 1px dotted #555;
	}
	footer a:hover {
		color: #111;
		border-color: #111;
		border-bottom-style: solid;
	}
	footer abbr { border: none; }
	footer p {
		margin: .5rem 0;
	}


@media print {
	header nav { display: none; }
	header h1 { font-size: 2em; }
	header h2 { font-size: 1em; }
	.article p { color: black; }
	.site .thumb { display: none; }
	footer { display: none; }
}
