<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title | escape }} :: {{ site.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | xml_escape }}{% else %}{{ site.description }}{% endif %}">
  <meta name="author" content="Jon Gjengset <jon@thesquareplanet.com>" />

  <base href="/{{ site.baseurl }}" />
  <meta name="flattr:id" content="e0757j" />
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@jonhoo" />
  <meta name="twitter:creator" content="@jonhoo" />
  {% if page.layout == "post" %}
  <meta property="og:url" content="{{ page.url | prepend: site.url }}" />
  <meta property="og:title" content="{{ page.title | strip_html | strip_newlines | xml_escape }}" />
  <meta property="og:description" content="{{ page.excerpt | strip_html | xml_escape }}" />
  {% endif %}
  <link rel="stylesheet" href="{{ "css/style.css" }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">
</head>
