<header class="header">
	<nav>
		<div class="links">
			{% assign current = nil %}
			{% if page.url == "/" %}
				{% assign current = 'active' %}
			{% endif %}
			<a class="{{ current }}" href="/">About</a>
			{% for my_page in site.pages %}
				{% if my_page.title %}
					{% assign current = nil %}
					{% if page.url == my_page.url %}
						{% assign current = 'active' %}
					{% endif %}
					{% if my_page.title != "Webdev" or current == "active" %}
					<a class="{{ current }}" href="{{ my_page.url }}">{{ my_page.title }}</a>
					{% endif %}
				{% endif %}
			{% endfor %}
			<a class="" href="cv/">Resumé</a>
		</div>
		<div class="contact">
			<a target="_blank" href="https://www.twitter.com/jonhoo">
				<img class="icon" src="https://cdn.jsdelivr.net/npm/simple-icons@latest/icons/twitter.svg" alt="Twitter" />
			</a>
			<a target="_blank" rel="me" href="https://fosstodon.org/@jonhoo">
				<img class="icon" src="https://cdn.jsdelivr.net/npm/simple-icons@latest/icons/mastodon.svg" alt="Mastodon" />
			</a>
			<a target="_blank" href="https://www.github.com/jonhoo">
				<img class="icon" src="https://cdn.jsdelivr.net/npm/simple-icons@latest/icons/github.svg" alt="GitHub" />
			</a>
			<a target="_blank" href="https://www.youtube.com/c/JonGjengset">
				<img class="icon" src="https://cdn.jsdelivr.net/npm/simple-icons@latest/icons/youtube.svg" alt="YouTube" />
			</a>
			<a target="_blank" href="bitcoin:3LQsCAyP1dS7mCwAkMgZtxbCRuWHAjrcEs">
				<img class="icon" src="https://cdn.jsdelivr.net/npm/simple-icons@latest/icons/bitcoin.svg" alt="Bitcoin" />
			</a>
			<a target="_blank" href="https://keybase.io/jonhoo">
				<img class="icon" src="https://cdn.jsdelivr.net/npm/simple-icons@latest/icons/keybase.svg" alt="Keybase" />
			</a>
			<a target="_blank" href="https://www.linkedin.com/in/jonhoo">
				<img class="icon" src="https://cdn.jsdelivr.net/npm/simple-icons@latest/icons/linkedin.svg" alt="LinkedIn" />
			</a>
			<a href="mailto:jon@thesquareplanet.com">
				<!-- https://github.com/simple-icons/simple-icons/commit/f7b08414ff7db8f10021c21e46db62bfe5983c1b -->
				<img class="icon" src="gfx/email.svg" alt="Email" />
			</a>
		</div>
	</nav>
	{% if page.index %}
	<h1>{{ site.title | escape }}</h1>
	{% endif %}
	{% if page.tagline %}
	<h2>{{ page.tagline | escape }}</h2>
	{% endif %}
</header>
