// =============================================================================
// 13. Print
// =============================================================================

@media print {
    body {
        font-size: 12pt;
        background-color: white;
    }

    .header nav {
        display: none;
    }

    .header h1 {
        font-size: 2em;
        page-break-after: avoid;
    }

    .header h2 {
        font-size: 1em;
        page-break-after: avoid;
    }

    .blog-post h1 {
        font-size: 1.1em;
        page-break-after: avoid;
    }

    .blog-post h2 {
        page-break-after: avoid;
    }

    .blog-post h3 {
        page-break-after: avoid;
    }

    .research-item p {
        color: black;
    }

    .site .thumb {
        display: none;
    }

    article {
        max-width: 50em;
    }

    .footer {
        display: none;
    }

    .sidenote {
        display: block;
        float: none;
        width: 100%;
        margin: 0.5em 0;
        font-size: 10pt;
    }

    nav, footer {
        display: none;
    }

    html {
        font-size: 0.80em;
    }

    @page {
        margin: 1.5cm 2cm;
    }
}
