---
layout: default
---
<article itemscope itemtype="http://schema.org/BlogPosting" class="blog-post">
	<header>
		<h1 itemprop="name headline">{{ page.title }}
			<span style="display:none"
				itemprop="author"
				itemscope
				itemtype="http://schema.org/Person">
				<span itemprop="name">Jon Gjengset</span>
			</span>
			{% assign words = content | number_of_words %}
			{% if words >= 360 %}
			<span class="reading-time">
				({{ words | divided_by:180 }} min. read)
			</span>
			{% endif %}
		</h1>
		<span class="shared">
			{% if page.hidden == true %}
			Hidden draft from <span itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</span>
			{% else %}
			Posted on <span itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</span>
			{% endif %}
			{% if page.shared %}
				&mdash; shared on
				{% for share in page.shared %}
					<a href="{{ share[1] }}">{{ share[0] }}</a>
				{% endfor %}
			{% endif %}
		</span>
	</header>
	<div itemprop="articleBody" class="hyphenate article-body">
		{{ content }}
	</div>
	<script>
		document.querySelectorAll('.article-body').forEach(function(bp) {
			bp.querySelectorAll('h1,h2').forEach(function(h) {
				if (h.id && !h.querySelector('a')) {
					var text = h.textContent;
					var a = document.createElement('a');
					var url = new URL(location.href);
					url.hash = h.id;
					a.href = url.href;
					a.textContent = text;
					h.innerHTML = '';
					h.appendChild(a);
					h.classList.add('anchor');
				}
			})
		})
	</script>
	<footer>
		<a class="revision" href="https://github.com/jonhoo/thesquareplanet.com/commits/main/{{page.path}}">( revision history )</a>
	</footer>
</article>
